#OurStory {
  padding: 100px 0;
  h5 {
    color: gray;
    font-size: 1.1rem;
    margin: 0.5rem 0 1rem;
  }
  h2 {
    font-size: 2.5rem;
    font-family: $displayFont;
    text-transform: capitalize;
    margin: 0.5rem 0 3rem;
  }
  p {
    font-size: 1.1rem;
    color: gray;
    line-height: 1.8;
    margin: 0.5rem 0 3rem;
  }
  .quote {
    color: gray;
    margin: 0.5rem 0 3rem;
    strong {
      color: #000;
      font-weight: 700;
    }
  }
  .reserve-btn {
    font-family: $displayFont;
    display: inline-block;
    padding: 20px 40px;
    border: 1px solid #000;
    text-align: center;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    &:hover {
      background: orange;
      color: black;
    }
  }
  .video-img {
    max-width: 400px;
    height: 550px;
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 0, #000 100%),
      url('https://pioneerwoman.files.wordpress.com/2015/10/dsc_4051.jpg');
    background-position: right;
    background-size: cover;
    margin: 0 auto;
  }
}
